<div class="row">
    <div class="col">
        <!-- con #termino tomo lo que ingrese el usuario en el campo, y se lo paso a buscar con termino.value -->
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista">
    </div>
</div>

<!-- ESTO LO SUSTITUI POR EL APP-TARJETA -->
<!-- <div class="card-columns m-5">
    <div *ngFor=" let artista of artistas " class="card"> -->
<!-- la imagen se valida antes de mostrarla con el pipe: noimage porque si no hay ninguna imagen justo en el album que estoy buscando me tira un error -->
<!-- <img [src]="artista.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{artista.name}}</h5>
        </div>
    </div>
</div> -->

<app-loading *ngIf="loading" class="m-5"></app-loading>

<app-tarjeta *ngIf="!loading" [items]="artistas"></app-tarjeta>